*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    width: 100%;
    height: 100%;
    background-color: #5e4444;
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    background-color:#b8a5ab;
   
}
#part2{
    height: 100%;
    width: 66%;
    background-color: rgb(0, 8, 255);
    background-image: url(https://plus.unsplash.com/premium_photo-1682096511044-f8aba3d94141?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color:#a352524a ;
}
#part3{
    height: 100%;
    width: 8%;
    background-color:#b8a5ab;
}
#text-div{
    /* height: 300px; */
    width: 400px;
    position: absolute;
    left: 6%;
    top: 40%;
    /* background-color: #5e4444;; */
    transform: translate(0 -50%);
}
#text-div> h1{
    font-size: 80px;
    font-family:monument;
    font-weight: 700;
    line-height: 78px;
    text-transform: uppercase;
    letter-spacing: 8px;
color: #fff;
}
#small-img{
    height: 400px;
    width: 300px;
    background-image: url(https://images.unsplash.com/photo-1623039497026-00af61471107?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBnaXJsfGVufDB8fDB8fHww);
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);

    
}
#over{
    width: 100%;
    height: 100%;
    background-color:#b8a5ab80;

}
#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    /* transform-origin: 0% 0% ; */
right: -15%;
top: 46%;

}
#vertical-text>h1 {
    font-size: 70px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT' ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    /* letter-spacing: 5px; */
    text-transform: uppercase;
}
#nav{
    height: 200px;
    width: 300px;
}